<div *ngIf="!showRegister">
<h1 class="font-bold py-2 text-gray-700 mb-3.5">Registrate aqui: </h1>

 <!-- form validacion de registro-->
 <!-- <form [formGroup]="formUserExist" novalidate class="space-y-4" (ngSubmit)="validateUser()"> -->
<form [formGroup]="formUserExist" novalidate class="space-y-4" (ngSubmit)="doLoginadmin()">
  <div>

    <!-- ######## campo email -->
    <!-- ######## campo email -->
    <div class="relative">
      <input
        formControlName="email"
        placeholder="Digita tu email"
        type="email"
        name="email"
        class="w-full rounded bg-red-50 border-red-100 border-1 focus:border-red-500 focus:border-1 focus:ring-0"
      />
    </div>
    <!-- mensajes de validacion-->
    <div *ngIf="formUserExist.controls.email.touched && formUserExist.controls.email.invalid">
      <p
        *ngIf="formUserExist.controls.email.hasError('required')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        Campo obligatorio
      </p>
      <p
        *ngIf="formUserExist.controls.email.hasError('email')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        Debes digitar un email
      </p>
    </div>
    <!-- fin campo email ###########-->
    <!-- fin campo email ###########-->
    
    <!-- ######## campo tipo documento-->
    <!-- ######## campo tipo documento-->
    <div class="relative my-3">
      <select
        formControlName="tipo"
        name="tipo"
        class="w-3/4 rounded bg-red-50 border-red-100 border-1 focus:border-red-500 focus:border-1 focus:ring-0"
      >
        <option value=""> Tipo de documento </option>
        <option value="1"> Cedula </option>
        <option value="2"> Pasaporte </option>
        <option value="3"> Cedula Extranjeria</option>
        <option value="4"> Tajeta de Identidad </option>
      </select>
    </div>
     <!-- mensajes de validacion-->
    <div *ngIf="form.controls.tipo.touched && form.controls.tipo.invalid">
      <p
        *ngIf="form.controls.tipo.hasError('required')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        Campo obligatorio
      </p>
    </div>
    <!-- fin campo tipo documento ###########-->
    <!-- fin campo tipo documento ###########-->

    <!-- ######## campo documento -->
    <!-- ######## campo documento -->
    <div class="relative">
      <input
        formControlName="documento"
        placeholder="Tu documento de identidad"
        type="text"
        name="documento"
        class="w-full rounded bg-red-50 border-red-100 border-1 focus:border-red-500 focus:border-1 focus:ring-0"
      />
    </div>
    <!-- mensajes de validacion-->
    <div *ngIf="formUserExist.controls.documento.touched && formUserExist.controls.documento.invalid">
      <p
        *ngIf="formUserExist.controls.documento.hasError('required')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        Documento obligatorio
      </p>
      <p
        *ngIf="formUserExist.controls.documento.hasError('minLength')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        tu documento debe tener mas de 8 digitos 
      </p>
    </div>
    <!-- fin campo documento ######## -->
    <!-- fin campo documento ######## -->

  </div>
  <div class="text-center">
    <app-btn typeBtn="submit" color="success" [loading]="statusUserExist === 'loading'"
      >CONTINUAR</app-btn
    >
  </div>
</form>
</div>
<!-- fin form validacion de registro-->


<!-- #######################3 form registro ######################### -->
<!-- #######################3 form registro ######################### -->
<div *ngIf="showRegister">
<h1 class="font-bold py-2 text-gray-700 mb-3.5">Por favor dilgencia el resto de información.</h1>
<form [formGroup]="form" novalidate class="space-y-4" (ngSubmit)="register()">

  <!-- name-->
  <div>
    <div class="relative">
      <input
        formControlName="name"
        placeholder="Nombre"
        type="text"
        name="name"
        class="w-full rounded bg-red-50 border-red-100 border-1 focus:border-red-500 focus:border-1 focus:ring-0"
      />
    </div>
    <div *ngIf="form.controls.name.touched && form.controls.name.invalid">
      <p
        *ngIf="form.controls.name.hasError('required')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        Campo obligatorio
      </p>
    </div>
  </div>

  <!-- lastname-->
  <div>
    <div class="relative">
      <input
        formControlName="lastname"
        placeholder="Apellidos"
        type="text"
        name="lastname"
        class="w-full rounded bg-red-50 border-red-100 border-1 focus:border-red-500 focus:border-1 focus:ring-0"
      />
    </div>
    <div *ngIf="form.controls.lastname.touched && form.controls.lastname.invalid">
      <p
        *ngIf="form.controls.lastname.hasError('required')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        Campo obligatorio
      </p>
    </div>
  </div>

  <!-- phone -->
  <div>
    <div class="relative">
      <input
        formControlName="phone"
        placeholder="Numero de Telefono"
        type="tel"
        name="phone"
        class="w-3/4 rounded bg-red-50 border-red-100 border-1 focus:border-red-500 focus:border-1 focus:ring-0"
      />
    </div>
    <div *ngIf="form.controls.phone.touched && form.controls.phone.invalid">
      <p
        *ngIf="form.controls.phone.hasError('required')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        Campo obligatorio
      </p>
      <p
        *ngIf="form.controls.phone.hasError('minLength')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        Tu telefono debe tener minimo 8 caracteres
      </p>
    </div>
  </div>

  <!-- pass-->
  <div>
    <div class="relative">
      <input
        formControlName="password"
        placeholder="Nueva contraseña"
        [type]="showPassword ? 'text' : 'password'"
        class="w-full rounded bg-red-50 border-red-100 border-1 focus:border-red-500 focus:border-1 focus:ring-0"
      />
      <button
        type="button"
        class="p-2 absolute right-2 text-red-300"
        (click)="showPassword = !showPassword"
      >
        <fa-icon [icon]="showPassword ? faEye : faEyeSlash"></fa-icon>
      </button>
    </div>
    <div
      *ngIf="form.controls.password.touched && form.controls.password.invalid"
    >
      <p
        *ngIf="form.controls.password.hasError('required')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        Campo obligatorio
      </p>
      <p
        *ngIf="form.controls.password.hasError('minlength')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        Debe tener mas de 6 caracterres
      </p>
    </div>
  </div>

  <!-- confirm pass-->
  <div>
    <div class="relative">
      <input
        formControlName="confirmPassword"
        placeholder="Confirma la contraseña"
        type="password"
        class="w-full rounded bg-red-50 border-red-100 border-1 focus:border-red-500 focus:border-1 focus:ring-0"
      />
    </div>
    <div
      *ngIf="
        form.controls.confirmPassword.touched &&
        form.controls.confirmPassword.invalid
      "
    >
      <p
        *ngIf="form.controls.confirmPassword.hasError('required')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        Campo obligatorio
      </p>
      <p
        *ngIf="form.controls.confirmPassword.hasError('minlength')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        Debe tener mas de 6 caracterres
      </p>
    </div>
    <div *ngIf="form.controls.confirmPassword.touched">
      <p
        *ngIf="form.hasError('mismatch')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        Las contraseñas no son iguales
      </p>
    </div>
  </div>
  

  <!-- tipo documento-->
  <div>
    <div class="relative">
      <select
        formControlName="tipo"
        name="tipo"
        class="w-3/4 rounded bg-gray-50 border-gray-100 border-1 focus:border-gray-500 focus:border-1 focus:ring-0"
      >
      <option value=""> Tipo de documento </option>
      <option value="1"> Cedula </option>
      <option value="2"> Pasaporte </option>
      <option value="3"> Cedula Extranjeria</option>
      <option value="4"> Tajeta de Identidad </option>
      </select>
    </div>
    <div *ngIf="form.controls.tipo.touched && form.controls.tipo.invalid">
      <p
        *ngIf="form.controls.tipo.hasError('required')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        Campo obligatorio
      </p>
    </div>
  </div>

  <!-- documento-->
  <div>
    <div class="relative">
      <input
        formControlName="documento"
        placeholder="# Documento"
        type="text"
        name="documento"
        class="w-3/4 rounded bg-gray-50 border-gray-100 border-1 focus:border-gray-500 focus:border-1 focus:ring-0"
      />
    </div>
    <div *ngIf="form.controls.documento.touched && form.controls.documento.invalid">
      <p
        *ngIf="form.controls.documento.hasError('required')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        Campo obligatorio
      </p>
      <p
        *ngIf="form.controls.documento.hasError('minLength')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        Tu doumento debe tener minimo 8 caracteres
      </p>
    </div>
  </div>

  <!-- email -->
  <div>
    <div class="relative">
      <input
        #nameInput
        formControlName="email"
        placeholder="Ingresa tu email"
        type="email"
        name="email"
        class="w-full rounded bg-gray-50 border-gray-100 border-1 focus:border-gray-500 focus:border-1 focus:ring-0"
      />
    </div>
    <div *ngIf="form.controls.email.touched && form.controls.email.invalid">
      <p
        *ngIf="form.controls.email.hasError('required')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        Campo obligatorio
      </p>
      <p
        *ngIf="form.controls.email.hasError('email')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        Debe ser un email
      </p>
    </div>
  </div>

  
  <div class="text-center">
    <app-btn typeBtn="submit" color="success" [loading]="status === 'loading'"
      >REGISTRATE</app-btn
    >
  </div>
</form>
</div>
