<h1 class="font-bold py-2 text-gray-700 mb-3.5">Asigna una nueva contraseña.</h1>
<form [formGroup]="form" novalidate class="space-y-4" (ngSubmit)="recovery()">
  <div>
    <div class="relative">
      <input
        formControlName="newPassword"
        placeholder="Ingresa tu nueva contraseña"
        [type]="showPassword ? 'text' : 'password'"
        class="w-full rounded  bg-red-50 border-red-100 border-1 focus:border-red-500 focus:border-1 focus:ring-0"
      />
      <button
        type="button"
        class="p-2 absolute right-2  text-red-300"
        (click)="showPassword = !showPassword"
      >
        <fa-icon [icon]="showPassword ? faEye : faEyeSlash"></fa-icon>
      </button>
    </div>
    <div
      *ngIf="form.controls.newPassword.touched && form.controls.newPassword.invalid"
    >
      <p
        *ngIf="form.controls.newPassword.hasError('required')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        El campo es obligatorio
      </p>
      <p
        *ngIf="form.controls.newPassword.hasError('minlength')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        Debe tener mas de 6 caracteres
      </p>
    </div>
  </div>
  <div>
    <div class="relative">
      <input
        formControlName="confirmPassword"
        placeholder="Confirma la contraseña"
        type="password"
        class="w-full rounded  bg-red-50 border-red-100 border-1 focus:border-red-500 focus:border-1 focus:ring-0"
      />
    </div>
    <div
      *ngIf="
        form.controls.confirmPassword.touched &&
        form.controls.confirmPassword.invalid
      "
    >
      <p
        *ngIf="form.controls.confirmPassword.hasError('required')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        El campo es obligatorio
      </p>
      <p
        *ngIf="form.controls.confirmPassword.hasError('minlength')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        Debe tener mas de 6 caracteres
      </p>
    </div>
  </div>
  <div *ngIf="form.controls.confirmPassword.touched">
    <p
      *ngIf="form.hasError('mismatch')"
      class="font-medium text-red-500 text-xs mt-1 ml-1"
    >
      No coincide el valor de ambos campos.
    </p>
  </div>
  <div class="text-center">
    <app-btn
      typeBtn="submit"
      color="success"
      [loading]="status === 'loading'"
      >Crear Contraseña</app-btn
    >
  </div>
</form>
